body{
background-color: yellow;
}

.container{
flex-direction:row;
justify-content:center;
display:flex;
}

.section{
text-align: center !important;
}

.container{
vertical-align: middle !important;
}


