<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table style="text-align:left">
  <tr>
    <th>Dish</th>
    <th>Price</th>
    <th></th>
  </tr>
  <tr th:each="dish : ${dishes}">
    <td th:text="${dish.name}"></td>
    <td th:text="${dish.price}"></td>
    <td>

      <form th:action="'/DeleteFromCart/'+ ${dishStat.index}" th:method="GET">

        <button type="submit" >Delete Dish </button>
      </form>
    </td>

  </tr>
</table>



  <td>Total sum:</td>
  <td th:text="${#aggregates.sum(dishes.![price])}">
  </td>
<td>
<form th:action="'/order/'" th:method="GET">
<button type="submit" >Make Order </button>

</form>

  <form th:action="'/'" th:method="GET">
    <button type="submit" >Back to menu </button>
  </form>
</td>


</body>
</html>

